#customer_details h1 {
  margin: 1rem 0;
}

.alert {
  width: 70%;
  margin: 0 auto;
  color: #ff4081;
}

.alert  ul {
  list-style-type: none;
}

.alert  li {
  color: #ff4081;
  padding: 5px 0;
}

body {
  padding: 0;
  margin: 5px;
  background: #eeeeee;
  font-family: 'Roboto', sans-serif;
}
.page {
  max-width: 80vw;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(213,213,213,1);
  -moz-box-shadow: 0px 2px 2px 2px rgba(213,213,213,1);
  box-shadow: 0px 2px 2px 2px rgba(213,213,213,1);
}
.wrap {
  margin: 0 auto;
}
nav > .wrap {
  display: flex;
}
nav > .wrap ul:first-child {
  flex: 4;
}

nav > .wrap ul:last-child {
  flex: 1;
  justify-content: flex-end;
}
a {
  color: #2196F3;
  text-decoration: none;
}
.main-header {
  background-color: #3F51B5;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  position: relative;
}
.main-header h1 {
  font-size: 3em;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.main-header h2 {
  font-size: 1.2em;
  padding: 0.8em 0;
  color: #C5CAE9;
  margin: 0;
  padding: 0;
}
nav {
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
}
nav ul {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  justify-content: left;
}
nav ul li a {
  display: block;
  padding: 1em 1.5em;
  color: #FFFFFF;
  transition: all 0.2s ease;
}
nav ul li a:hover,
nav ul li a.active {
  background: linear-gradient(to top right, #00bcd4 0%, #50a3a2 100%);
}
main {
  padding: 5px;
}
main article {
  background-color: #fff;
  min-height: 150px;
  transition: all 0.4s ease-in-out;
}
main article:hover {
  box-shadow: 0 0 20px #ccc;
}
