body {
  padding: 0;
  margin: 5px;
  background: #eeeeee;
  font-family: 'Roboto', sans-serif;
}
.page {
  max-width: 80vw;
  margin: 0 auto;
}
.wrap {
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.main-header {
  background-color: #3F51B5;
  min-height: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}
.main-header h1 {
  font-size: 3em;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.main-header h2 {
  font-size: 1.2em;
  padding: 0.8em 0;
  color: #C5CAE9;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #303F9F;
}
nav ul {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  justify-content: center;
}
nav ul li a {
  display: block;
  padding: 1em 1.5em;
  color: #FFFFFF;
  transition: all 0.2s ease;
}
nav ul li a:hover,
nav ul li a.active {
  background-color: #283593;
}
main {
  padding: 5px;
}
main article {
  background-color: #fff;
  min-height: 150px;
  transition: all 0.4s ease-in-out;
}
main article:hover {
  box-shadow: 0 0 20px #ccc;
}
