.modal-open .fab-modal-shadow-surogate, .fab-modal-container.active, .fab-modal-inner, .fab-modal-modal-content {
  width: 50vw;
  height: 60vh;
  max-width: 100vw;
  max-height: 100vh;
}

.fab-modal-backdrop {
  -webkit-transition: background 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.fab-modal-backdrop {
  box-shadow: none;
}

.modal-open .fab-modal-backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: background 1s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: background 1s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}
.modal-open .fab-modal-shadow-surogate {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 16px 16px rgba(0, 0, 0, 0.30);
  position: fixed;
  top: -10%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  -webkit-transition: box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1) 1s;
  transition: box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1) 1s;
}

.fab-modal-container {
  will-change: position, height, width;
  position: fixed;
  padding: 0;
  overflow: hidden;
  line-height: normal;
  top: 1em;
  right: 1em;

}
.fab-modal-container.inactive {
  position: absolute;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  font-size: 24px;
  min-height: 56px;
  height: 56px;
  min-width: 56px;
  width: 56px;
  -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1) 1s, border-radius 1ms linear 1s;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 1s cubic-bezier(0.4, 0, 0.2, 1) 1s, border-radius 1ms linear 1s;
}
.fab-modal-container.inactive .fab-modal-inner {
  background: #ff4081;
  -webkit-clip-path: circle(28px at calc(100% - 28px) calc(100% - 28px));
  clip-path: circle(28px at calc(100% - 28px) calc(100% - 28px));
  -webkit-transition: background 0.33333s cubic-bezier(0.4, 0, 0.2, 1), -webkit-clip-path 0.33333s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.33333s cubic-bezier(0.4, 0, 0.2, 1), -webkit-clip-path 0.33333s cubic-bezier(0.4, 0, 0.2, 1);
  transition: clip-path 0.33333s cubic-bezier(0.4, 0, 0.2, 1), background 0.33333s cubic-bezier(0.4, 0, 0.2, 1);
  transition: clip-path 0.33333s cubic-bezier(0.4, 0, 0.2, 1), background 0.33333s cubic-bezier(0.4, 0, 0.2, 1), -webkit-clip-path 0.33333s cubic-bezier(0.4, 0, 0.2, 1);
}
.fab-modal-container.inactive .fab-modal-inner .inactive {
  opacity: 1;
  -webkit-transition: opacity 1s linear 0.5s;
  transition: opacity 1s linear 0.5s;
}
.fab-modal-container.inactive .fab-modal-modal-content {
  opacity: 0;
  -webkit-transition: opacity 0.33333s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.33333s cubic-bezier(0.4, 0, 0.2, 1);
}
.fab-modal-container.active {
  z-index: 999;
  border-radius: 0;
  top: -10%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1), right 0.33333s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, border-radius 1ms linear 0.5s;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1), right 0.33333s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, border-radius 1ms linear 0.5s;
}
.fab-modal-container.active .fab-modal-inner {
  background: white;
  -webkit-clip-path: circle(100% at 40% 40%);
  clip-path: circle(100% at 40% 40%);
}
.fab-modal-container.active .fab-modal-inner .inactive {
  opacity: 0;
  -webkit-transition: opacity 0.1s linear 0.5s;
  transition: opacity 0.1s linear 0.5s;
}
.fab-modal-container.active .content {
  overflow-y: auto;
}
.fab-modal-container button {
  border-radius: 50%;
  color: white;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  position: absolute;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.fab-modal-container button.inactive {
  bottom: 0;
  right: 0;
  width: 56px;
  height: 56px;
  z-index: 15;
  cursor: pointer;
}
.fab-modal-container button.active {
  right: 16px;
}

.fab-modal-inner {
  overflow: hidden;
  will-change: clip-path, background;
  position: absolute;
  bottom: 0px;
  right: 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, -webkit-clip-path 1s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: background 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, -webkit-clip-path 1s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: clip-path 1s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, background 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: clip-path 1s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, background 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s, -webkit-clip-path 1s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

button .material-icons {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px;
}

.bar {
  box-sizing: border-box;
  background: #ff4081;
  color: white;
  width: 100%;
  padding: 2rem;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.fab-modal-modal-content {
  will-change: opacity, position;
  z-index: 10;
  opacity: 1;
  color: #616161;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 18px;
  padding: 0;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 16px;
}

button.inactive {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.page-header {
  position: relative;
  background-color: #2196F3;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}

.page-header h1 {
  padding: 1rem;
  color: #FFFFFF;
  font-weight: normal;
}

.container {
  position: relative;
  margin: 0;
  padding: 0;
  background: #fff;
  min-height: 100vh;
}

.main {
  padding-bottom: 2em;
}
